@font-face {
	font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}
@font-face{
	font-family: 'RobotoMono';
	src: url(fonts/RobotoMono.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src: url(fonts/Montserrat-Black.ttf);
}
@font-face{
	font-family: SFMono;
	src: url(fonts/SFMono-Light.otf);
}
body{
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	color: #212529;
	font-weight: 400;
}
header{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
}
img.header-img{
	width: 50px;
	height: 50px;
}
h1,h2,h3{
	font-family:'Montserrat', serif ;
	padding: 6px 10px;
	text-align: left;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1em;
}
.container{
	height: 1180px;
	width: 1640px;
	columns: 3;
}
div.block{
height: 580px;
width: 530px;
border-radius: 24px;
}
div.block:hover{
	box-shadow: 5px 5px 5px #000;
}
img.block{
	max-block-size: 20%;
}
.gradient-cyan{
	background: linear-gradient(45deg,#0cc5ce, #81b211) ;
}
.gradient-blue{
	background: linear-gradient(45deg,#2b1694, #0cc5ce);
}
.dark-purple{
	background: linear-gradient(45deg,#5d0c34, #2b1694);
}
.orange-red{
	background: linear-gradient(45deg,#ff4a13, #5d0c34);
}
.yellow-orange{
	background: linear-gradient(45deg,#ffab35, #ff4a13);
}
a{
	text-decoration: none;
}
a.text-orange:hover{
	color: orange;
}
a.text-green:hover{
	color: #16cc26;
}
a.text-red:hover{
	color: red;
}
a.text-blue:hover{
	color: purple;
}
a.text-yellow:hover{
	color: yellow;
}
footer{
	height: 50px;
	background: yellowgreen;
	font-size: 0.7em;
	text-align: center;
}
.footer{
margin: 0 auto;
width: 100%;
}
span{
	position: absolute;
	right: 0px;
}
.footer-png{
	block-size: 0.7em;
}